@charset "UTF-8";

.find-idpw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 10px;
    background: url("#{$path}common/login-bg.png") no-repeat;
    background-size: cover;
    
    .input {
        input {
            color: $white-color;
        }
    }
}

.logo-area {
    img {
        width: 147px;
        height: 207px;
    }
}

.login-area {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;

    .row-item {
        + .row-item {
            margin-top: 10px;
        }

        .key {
            &.no-img {
                width: 18px;
            }

            img {
                width: 18px;
                height: 18px;
            }
        }

        .value {
            position: relative;
            
            .access {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 12px 0;
                color: $white-color;
            }
        }
    }
    
    .aligner {
        label {
            color: $white-color;
        }
        
        .right {
            a {
                color: $white-color;
            }
        }
    }
}

.footer-logo {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

    img {
        opacity: 0.2;
        width: 72px;
        height: 20px;
    }
}