@charset "UTF-8";

.join-address {
    padding: 65px 10px;
    background-color: $bg-color;

    .inner {
        padding: 30px 15px;
        background-color: $bg-white-color;
    }

    .srch-list {
        padding: 10px 0;
        border-top: 1px solid $point-color1;
        border-bottom: 1px solid $point-color1;

        .items {
            padding: 10px 0;

            + .items {
                border-top: 1px solid $base-color;
            }

            .item {
                display: flex;
                padding: 5px 0;

                + .item {
                    border-top: 1px solid $border-color;
                }

                .type {
                    flex-basis: 60px;
                    color: #999;
                }

                .info {
                    flex: 1;
                }
            }
        }
    }
}