@charset "UTF-8";

.join-plus {
    padding: 15px 10px;
    background-color: $bg-color;

    .inner {
        padding: 10px;
        background-color: $bg-white-color;

        .page-title {
            font-size: 20px;
            font-weight: 700;
        }
    }
}