@charset "UTF-8";

.join-plus {
    padding: 15px 10px;
    background-color: $bg-color;

    .inner {
        padding: 20px 10px 25px;
        background-color: $bg-white-color;
    }

    .page-title {
        margin-bottom: 25px;
        padding: 0 0 10px 25px;
        border-bottom: 1px solid $point-color1;
        background: url("#{$path}dummy/new-file.png") no-repeat left 2px;
        background-size: 20px 20px;
        color: $bold-color;
        font-size: 16px;
        font-weight: 700;
    }
}