@charset "UTF-8";

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 10px;
    background: url("#{$path}common/login-bg.png") no-repeat;
    background-size: cover;

    .input {
        input {
            color: $white-color;
        }
    }
}

.login-member {
    padding: 0 8px;
    color: #fff;

    em {
        font-size: 13px;
        font-weight: 700;
    }
}

.logo-area {
    margin: 10px 0 20px;

    img {
        width: 140px;
        height: 150px;
    }
}

.login-area {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;

    .login-menu {
        margin: 10px 0;
        
        a {
            display: inline-block;
            color: $white-color;
            
            &.active {
                color: $point-color1;
                border-bottom: 2px solid $point-color1;
            }

            + a {
                margin-left: 30px;
            }
        }
    }

    .row-item {
        + .row-item {
            margin-top: 10px;
        }

        .key {
            img {
                width: 18px;
                height: 18px;
            }
        }

        .value {
            position: relative;
            
            .access {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 12px 0;
                color: $white-color;
            }
        }
    }
    
    .aligner {
        label {
            color: $white-color;
        }
        
        .right {
            a {
                color: $white-color;
            }
        }
    }
}

.footer-logo {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

    img {
        opacity: 0.5;
        width: 72px;
        height: 20px;
    }
}