@charset "UTF-8";

.mypage-main {
    background: $bg-color;
    
    .section {
        background: $bg-white-color;

        + .section {
            margin-top: 12px;
        }
    }

    .profile-area {
        padding: 15px 0;
        text-align: center;

        .name {
            font-size: 12px;
            text-align: center;
        }

        .profile-id {
            color: $bold-color;
            font-size: 13px;
        }
    }

    .my-info {
        @include clearfix;
        
        padding: 10px 0;
        border-top: 1px solid $border-color;
        
        > div {
            float: left;
            width: 50%;
            text-align: center;

            + div {
                border-left: 1px solid $border-color;
            }
        }

        .title {
            padding: 5px 0;
            font-size: 13px;
        }

        .count {
            color: $bold-color;
            font-size: 20px;
        }
    }

    .shopping-info {
        padding: 20px 0 15px;

        .subject {
            margin-bottom: 12px;
            color: $bold-color;
            font-size: 15px;
            text-align: center;
        }

        .info-list {
            @include clearfix;
            padding: 0 12px;

            li {
                float: left;
                width: 33.33333333%;
                text-align: center;

                &:nth-child(1) {
                    .title {
                        background-image: url("#{$path}mypage/icon-list1.png");
                    }
                }

                &:nth-child(2) {
                    .title {
                        background-image: url("#{$path}mypage/icon-list2.png");
                    }
                }

                &:nth-child(3) {
                    .title {
                        background-image: url("#{$path}mypage/icon-list3.png");
                    }
                }

                .title {
                    padding-top: 75px;
                    background-repeat: no-repeat;
                    background-position: 50% 0;
                    background-size: 65px 65px;
                    font-size: 11px;
                }
            }
        }
    }

    .manage-list {
        li {
            padding: 15px 12px;

            + li {
                border-top: 1px solid $border-color;
            }

            > a {
                display: block;

                img {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}