@charset "UTF-8";

.mypage-main {
    background: $bg-color;
    
    .section {
        background: $bg-white-color;

        + .section {
            margin-top: 15px;
        }
    }

    .profile-area {
        padding: 15px 0;

        .profile {
            overflow: hidden;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            padding: 6px;
            border-radius: 50%;
            background: $bg-color;
            text-align: center;

            > img {
                max-width: 100%;
            }
        }

        .name {
            margin-top: 3px;
            font-size: 15px;
            text-align: center;
        }
    }

    .my-info {
        @include clearfix;
        
        padding: 15px 0;
        border-top: 1px solid $border-color;
        
        > div {
            float: left;
            width: 50%;
            text-align: center;

            + div {
                border-left: 1px solid $border-color;
            }
        }

        .title {
            padding: 5px 0;
        }

        .count {
            margin-bottom: 5px;
            color: $point-color1;
            font-size: 25px;
        }
    }

    .shopping-info {
        padding: 15px 0;

        .subject {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
        }

        .info-list {
            @include clearfix;
            padding: 0 5px;

            li {
                float: left;
                width: 33.33333333%;
                text-align: center;

                &:nth-child(1) {
                    .title {
                        background-image: url("#{$path}dummy/file.png");
                    }
                }

                &:nth-child(2) {
                    .title {
                        background-image: url("#{$path}dummy/package.png");
                    }
                }

                &:nth-child(3) {
                    .title {
                        background-image: url("#{$path}dummy/receipt.png");
                    }
                }

                .title {
                    padding-top: 80px;
                    background-repeat: no-repeat;
                    background-position: 50% 20px;
                    background-size: 50px 50px;
                    font-size: 12px;
                    letter-spacing: -1px;
                }
            }
        }
    }

    .manage-list {

        li {
            padding: 10px 15px;

            + li {
                border-top: 1px solid $border-color;
            }
        }

        .more {
            display: block;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}