@charset "UTF-8";

.mypage-payment {
    background: $bg-color;
    padding: 65px 10px;
    
    .section {
        padding: 20px 15px;
        border-radius: 5px;
        background: $bg-white-color;
        box-shadow: 5px 7px 10px rgba(213,213,213,0.4);

        + .section {
            margin-top: 15px;
        }
    }
    
    .total {
        text-align: right;

        > span {
            font-size: 20px;
            margin-right: 8px;
        }
    }

    .flex-grouping {
        text-align: right;

        .input {
            input {
                text-align: right;
            }

            + .auto {
                display: inline-block;
            }
        }
    }

    .terms-area {
        .terms {
            padding: 15px 20px;
            border: 1px solid $border-color;
            text-align: center;

            > span {
                color: $bold-color;
            }

            .btn-more {
                display: block;
                margin-top: 15px;
                color: $point-color1;
            }
        }
    }
}