@charset "UTF-8";

.mypage-order-detail {
    padding: 65px 10px;
    background-color: $bg-color;
    
    .inner {
        padding: 20px 13px;
        border-radius: 5px;
        background-color: $bg-white-color;
        box-shadow: 5px 7px 10px rgba(213,213,213,0.4);
    }
    
    .aligner {
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        
        .date {
            color: $base-color;
        }
    }

    .section {
        padding: 20px 0;

        + .section {
            border-top: 1px solid $border-color;
        }
    }

    .row-item {
        + .row-item {
            margin-top: 10px;
        }

        &.inline-type {
            .key {
                width: 60px;
            }
        }
    }
    
    .product-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $bold-color;
        font-size: 14px;
        font-weight: 700;
    }

    .product-info {
        margin-top: 20px;

        .info {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            +.info {
                margin-top: 8px;
            }
        }
    }

    .sec-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 12px;
        color: $bold-color;
        font-size: 14px;
        font-weight: 700;
    }

    .btn-group {
        display: flex;

        .btn-left {
            flex: 1;
            padding-right: 3px;

            a {
                font-weight: 300;
            }
        }

        .btn-right {
            flex: 1;
            padding-left: 3px;

            a {
                font-weight: 300;
            }
        }
    }
}