@charset "UTF-8";

.shopping-detail {
    background-color: $bg-color;
    
    > div[class*="-section"] {
        padding: 20px 13px;
        background-color: $white-color;
    }

    > div.qna-section {
        padding: 0;
    }

    .thumb-section {
        position: relative;
        margin-bottom: 12px;

        .like {
            top: 20px;
            right: 13px;
        }

        .thumb {
            padding: 60px 0;
            text-align: center;

            img {
                max-width: 100%;
            }
        }
        
        .name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
        }

        .price {
            color: $bold-color;
            font-size: 20px;
            text-align: center;
        }
        
        .review-wrap {
            margin-top: 12px;
            text-align: center;

            .more {
                display: inline-block;
                padding: 0 15px 0;
                background: url("#{$path}/common/icon-arrow.png") no-repeat right center;
                background-size: 9px 10px;
                font-size: 14px;
            }
        }
    }

    .detail-section {
        .detail-title {
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
        }
    }

    .qna-section {
        .qna-toggle {
            display: block;
            padding: 20px 13px;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            box-shadow: 5px 7px 10px rgba(213,213,213,0.4);
            text-align: center;
        }

        .inner {
            display: none;

            &.active {
                display: block;
            }
            
            .section-title {
                padding: 10px 12px;
                color: $bold-color;
                font-size: 16px;
                font-weight: 700;
            }

            .faq-list {
                border-top: 2px solid $border-dark-color;
                border-bottom: 1px solid $border-dark-color;

                .item {
                    &.active {
                        .question {
                            color: $point-color1;
                            overflow: auto;
                            text-overflow: clip;
                            white-space: normal;
                        }

                        .btn-arrow {
                            top: 15px;
                            transform: rotate(180deg);
                        }

                        .answer {
                            display: block;
                        }
                    }

                    + li {
                        border-top: 1px solid $border-dark-color;
                    }

                    a {
                        display: block;
                        position: relative;

                        .question {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            position: relative;
                            padding: 12px 40px 12px 30px;
                            background-color: $bg-white-color;

                            &::before {
                                content: "Q";
                                display: block;
                                position: absolute;
                                top: 10px;
                                left: 12px;
                                font-size: 15px;
                                font-weight: 700;
                            }
                        }

                        .btn-arrow {
                            position: absolute;
                            top: 10px;
                            right: 12px;
                            width: 15px;
                            height: 15px;
                            transform-origin: 50% 50%;
                            transition: transform 0.8s;

                            .arrow {
                                position: relative;

                                &::before {
                                    content: " ";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 15px;
                                    height: 15px;
                                    background-color: #8c8c8c;
                                    transform: rotate(45deg);

                                }

                                &:after {
                                    content: " ";
                                    display: block;
                                    position: absolute;
                                    top: -2px;
                                    left: 0;
                                    width: 15px;
                                    height: 15px;
                                    background-color: #fff;
                                    transform: rotate(45deg);

                                }
                            }
                        }
                    }

                    .answer {
                        display: none;
                        position: relative;
                        padding: 12px 12px 12px 30px;
                        border-top: 1px solid $border-dark-color;

                        &::before {
                            content: "A";
                            display: block;
                            position: absolute;
                            top: 10px;
                            left: 12px;
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                }
            }

            .comment {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 12px;

                .text-area {
                    padding-right: 10px;
                    height: 70px;

                    textarea {
                        width: 100%;
                        height: 100%;
                        resize: none;
                    }
                }

                .btn {
                    height: 70px;
                    padding: 23px 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.buy-option {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    
    &.active {
        .buy-inner {
            display: none;
        }
        
        .basket-inner {
            display: flex;

            &.active {
                .util {
                    bottom: 49px;
                }
            }
        }
    }

    .buy-inner {
        display: flex;
        height: 50px;

        &.active {
            .buy {
                opacity: 0;
                visibility: hidden;
                flex-basis: auto;
                width: 0;
            }

            .share {
                width: 100%;
                background-color: transparent;
                
                .trigger {
                    display: none;
                }

                .share-opt {
                    opacity: 1;
                    visibility: visible;
                    background-color: rgba(255,255,255,0.9);
                    transition: all 0.3s 0.4s;
                }
            }
        }

        .buy {
            flex: 1;
            padding: 14px 0;
            background-color: $point-color1;
            color: $white-color;
            font-size: 14px;
            text-align: center;
            transition: all 0.3s;
        }

        .share {
            flex-basis: auto;
            width: 50px;
            padding: 12px 0;
            background-color: $white-color;
            text-align: center;
            transition: all 0.3s;

            .trigger {
                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .share-opt {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 13px 15px;
                text-align: right;
                transition: all 0.1s;

                > a {
                    display: inline-block;

                    + a {
                        margin-left: 15px;
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                .close {
                    display: inline-block;
                    margin-left: 20px;

                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }

    .basket-inner {
        position: relative;
        display: none;
        height: 50px;

        .basket {
            z-index: 20;
            flex: 1;
            padding: 14px 0;
            border-top: 1px solid $border-light-color;
            border-bottom: 1px solid $border-light-color;
            background-color: $white-color;
            color: $point-color1;
            font-size: 14px;
            text-align: center;
        }

        .buy {
            z-index: 20;
            flex: 1;
            padding: 14px 0;
            border-top: 1px solid $border-light-color;
            border-bottom: 1px solid $border-light-color;
            border-left: 1px solid $border-light-color;
            background-color: $point-color1;
            color: $white-color;
            font-size: 14px;
            text-align: center;
        }

        .util {
            z-index: 10;
            position: absolute;
            right:0;
            bottom: -147px;
            left: 0;
            padding: 35px 13px 25px;
            border-top: 1px solid $border-light-color;
            background-color: $white-color;
            transition: bottom 0.4s;

            .inner {
                position: relative;

                .basket-close {
                    position: absolute;
                    top: -20px;
                    right: 0;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .name {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: center;
                }
                
                .price {
                    color: $bold-color;
                    font-size: 20px;
                    text-align: center;
                }

                .spinner {
                    margin: 12px auto 0;
                }
            }
        }
    }
}