@charset "UTF-8";

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/NanumSquareR.eot),
    url(../../fonts/NanumSquareR.woff2) format('woff2'),
    url(../../fonts/NanumSquareR.woff) format('woff'),
    url(../../fonts/NanumSquareR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src: url(../../fonts/NanumSquareB.eot),
    url(../../fonts/NanumSquareB.woff2) format('woff2'),
    url(../../fonts/NanumSquareB.woff) format('woff'),
    url(../../fonts/NanumSquareB.ttf) format('truetype');
}