* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before {
    box-sizing: border-box;
}

*:after {
    box-sizing: border-box;
}

img {
    border: 0;
}

html {
    display: flex;
    height: 100%;

    body {
        height: 100%;
        background: url(common/icon-fixing.svg) no-repeat;
        line-height: 1.5;
    }
}

div {
    display: flex;
}