$font-size:          13px;
$line-height:        1.5;
$font-gothic:        "Malgun Gothic", sans-serif;
$font-lato:          "Lato", "Malgun Gothic", sans-serif;

$base-color:          #666;
$point-color1:        #00C8D0;
$bg-color:            #d9d9d9;
$bg-white-color:      #fff;
$border-color:        #ddd;

$path:                "../images/";
