$font-size:          13px;
$line-height:        1.5;
$font-gothic:        "Malgun Gothic", sans-serif;
$font-lato:          "Lato", "Malgun Gothic", sans-serif;

$base-point-color1:   #6866ff;
$base-point-color2:   #a54eff;
$point-color1:        #ff66c1;
$point-color2:        #ff6671;
$bg-white-color:      #fff;
$bg-color:            #eaeaea;
$border-color:        #d3d3d3;

$base-color:          #666;

$path:                "../images/";
