@charset "UTF-8";

.accordion {
    border-top: 2px solid $point-color1;
    border-bottom: 2px solid #575757;

    .head {
        display: table;
        width: 100%;
        padding-right: 80px;
        background-color: #f2f6fb;

        .cell {
            display: table-cell;
            padding: 13px 15px;
            color: #000;
            font-weight: 600;
            font-size: 15px;
            text-align: center;
            vertical-align: middle;

            &:first-child {
                width: 100px;
            }
        }
    }

    > ul {
        border-top: 1px solid #bdd1e9;

        > li {
            + li {
                border-top: 1px solid #d3d3d3;
            }

            &.active {
                background-color: #f7f7f7;

                .item-head {
                    .cell {
                        &.subject {
                            color: #000;
                            font-weight: 600;

                            &::before {
                                background-color: #666;
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                .item-article {
                    display: block;
                }
            }

            .item-head a {
                display: table;
                width: 100%;
                color: #000;
                font-weight: 600;
                font-size: 16px;

                .cell {
                    display: table-cell;
                    padding: 13px 15px;
                    color: #515151;
                    font-size: 16px;
                    text-align: center;
                    vertical-align: middle;

                    &:first-child {
                        width: 100px;
                        font-family: $font-lato;
                        font-size: 14px;
                    }

                    &.subject {
                        position: relative;
                        padding: 13px 60px 13px 15px;
                        text-align: left;

                        &::before {
                            @include alignY;
                            content: " ";
                            display: block;
                            position: absolute;
                            right: 25px;
                            width: 20px;
                            height: 4px;
                            border-radius: 2px;
                            background-color: #c1c1c1;
                        }

                        &::after {
                            @include alignY;
                            content: " ";
                            display: block;
                            position: absolute;
                            right: 33px;
                            width: 4px;
                            height: 20px;
                            border-radius: 2px;
                            background-color: #c1c1c1;
                        }
                    }
                }
            }

            .item-article {
                display: none;
                padding: 20px 60px 20px 115px;
                border-top: 1px solid #d3d3d3;
                color: #787878;
                font-size: 15px;

                .file {
                    margin-bottom: 10px;
                    
                    span {
                        color: #515151;
                        font-size: 14px;
                    }
                    
                    a {
                        margin-right: 8px;
                        color: $point-color1;
                        text-decoration: underline;

                        &:last-child {
                            margin-right: 0;

                            &::after {
                                display: none;
                            }
                        }

                        &::after {
                            content: ",";
                        }
                    }
                }
            }
        }
    }
}