@charset "UTF-8";

.address {
    > div {
        margin-top: 5px;
    }

    .zip-code {
        display: flex;
        justify-content: center;
        align-items: center;

        .input {
            flex: 1;
        }

        .btn {
            margin-left: 10px;
            flex-basis: auto;
        }
    }
}


