@charset "UTF-8";

.aligner {
    @include clearfix;

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .center {
        text-align: center;
    }

    @each $value in (top, middle, bottom) {
        &[data-align="#{$value}"] > div {
            vertical-align: $value;
        }
    }

    @each $direction in (top, bottom) {
        @each $key, $value in (xs: 10px, sm: 20px, md: 30px, lg: 40px, xl: 50px, xxl: 60px) {
            &[data-#{$direction}="#{$key}"] {
                margin-#{$direction}: $value;
            }
        }
    }
}