@charset "UTF-8";

.btn {
    display: inline-block;
    min-width: 80px;
    height: 44px;
    padding: 9px 8px 8px;
    background-color: $btn-color;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
    text-align: center;

    &.sm {
        min-width: 70px;
        height: 32px;
        padding: 7px 10px 6px;
        font-weight: 300;
        font-size: 13px;
    }

    &.dark {
        background: #a1a1a1;
        color: #fff;
    }

    &.white {
        border: 1px solid $border-color;
        color: #666;
        background: #fff;
    }

    &.fat {
        height: 60px;
        padding: 15px 10px;
        font-size: 20px;
    }
}


