@charset "UTF-8";

.btn {
    display: inline-block;
    min-width: 80px;
    height: 44px;
    padding: 12px 10px;
    background-color: $btn-color;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,177,229,0.3);

    &.sm {
        min-width: 70px;
        height: 32px;
        padding: 7px 10px 6px;
        font-weight: 300;
        font-size: 13px;
    }

    &.dark {
        background: #a1a1a1;
        color: #fff;
    }

    &.white {
        border: 1px solid $border-color;
        background: #fff;
        color: #666;
        box-shadow: 0 3px 10px rgba(161,161,161,0.3);
    }

    &.fat {
        height: 55px;
        padding: 15px 10px;
        border-radius: 35px;
        font-size: 18px;
    }
}


