@charset "UTF-8";

.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    min-height: 19px;

    + .checkbox {
        margin-left: 40px;
    }

    input {
        @include hidden;

        &:checked {
            + label {
                &::after {
                    display: block;
                }
            }
        }
    }

    label {
        display: block;
        color: $base-color;
        font-size: 15px;
        cursor: pointer;

        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            width:  20px;
            height: 20px;
            border: 1px solid $border-color;
            background-color: rgba(255,255,255,0.1);
        }

        &::after {
            content: " ";
            display: none;
            position: absolute;
            top: 0;
            left: 1px;
            width: 18px;
            height: 18px;
            background: transparent url("#{$path}common/btn-check.png") no-repeat;
            background-size: 19px 19px;
        }
    }
}


