@charset "UTF-8";

.comment {
    display: table;
    width: 100%;

    > div {
        display: table-cell;
    }

    .textarea {
        position: relative;
        padding-right: 5px;

        .byte {
            position: absolute;
            bottom: 6px;
            right: 15px;
            font-family: $font-lato;
            color: #757575;
        }
    }

    .btn {
        width: 95px;
        height: 100px;
        padding: 35px 0;
        background: #65656e;
        color: #fff;
    }
}