.clearfix {
    @include clearfix;
}
.point-color1 {
    color: $point-color1;
}
.left {
    float: left;
}
.right {
    float: right;
}
.icon {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.file-download {
    font-size: 0;

    + .file-download {

    }

    img {
        width: 14px;
        margin-right: 5px;
    }

    a {
        color: $point-color1;
        text-decoration: underline;
        font-weight: 400;
        font-size: 14px;
        vertical-align: middle;
    }
}
