@charset "UTF-8";

.flex-grouping {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;

    +.flex-grouping {
        margin-top: 5px;
    }

    > div {
        flex: 1;
        justify-items: center;

        &.auto {
            flex: none;
            flex-basis: auto;
        }

        + div {
            padding-left: 10px;
        }
    }
}