@charset "UTF-8";

.search {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background-color: #eee;
    font-size: 0;
    text-align: center;

    > * {
        vertical-align: middle;

        + * {
            margin-left: 5px;
        }

        &.btn {
            margin-left: 2px;
        }
    }

    span {
        display: inline-block;
        margin-right: 15px;
        color: #2b2b2b;
        font-weight: 600;
        font-size: 15px;
    }

    .input {
        max-width: 300px;
    }
}


