@charset "UTF-8";

.guide-msg {
     margin-top: 3px;
     font-size: 12px;
 }

.guide-msg-error {
    margin-top: 3px;
    padding-left: 10px;
    color: $point-color2;
    font-size: 12px;
    text-align: left;
}

.btn-scroll {
    position: fixed;
    right: 13px;
    bottom: 70px;

    > a {
        display: block;
        width: 50px;
        height: 50px;
        padding: 15px 0;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.8);
        box-shadow: 5px 7px 10px rgba(213,213,213,0.4);
        text-align: center;

        img {
            width: 15px;
        }
    }
}

.like {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 18px;
    background: url("#{$path}common/icon-like-off.png") no-repeat;
    background-size: 20px 18px;

    &.active {
        background: url("#{$path}common/icon-like-on.png") no-repeat;
        background-size: 20px 18px;
    }
}

.review-wrap {
    .review {
        position: relative;
        display: inline-block;
        height: 25px;
        width: 100px;
        padding: 0;
        color: #999;
        font-size: 18px;

        .review-count {
            overflow: hidden;
            display: block;
            position: absolute;
            padding: 0;
            top: 0;
            left: 0;
            color: #999;
            white-space: nowrap;
        }
    }
}


