@charset "UTF-8";

.guide-msg {
     margin-top: 3px;
     font-size: 12px;
 }

.guide-msg-error {
    margin-top: 3px;
    padding-left: 10px;
    color: $point-color2;
    font-size: 12px;
    text-align: left;
}


