@charset "UTF-8";

html,
body {
    height: 100%;
}

div[data-role="page"] {
    height: 100%;
}

.container {
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
    transition: transform 0.4s;
}

.open-gnb {
    .gnb-container {
        transform: translateX(0%);
    }
}

.open-mypage {
    .mypage-container {
        transform: translateX(0%);
    }
}

/* 모달팝업 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
