@charset "UTF-8";

html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
    margin-top: 50px;
    transition: transform 0.4s;
}

.open-gnb {
    .gnb-container {
        transform: translateX(0%);
    }
}

.open-mypage {
    .mypage-container {
        transform: translateX(0%);
    }
}

/* 좌측 gnb */
.gnb-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 65px;
    transform: translateX(-100%);
    transition: transform 0.4s;
    background-color: #000;
}

/* 우측 mypage */
.mypage-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65px;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.4s;
    background-color: #999;
}
